#include "resource.h"
#include "windows.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

IDI_APP ICON ".\\res\\app.ico"
IDI_BLANK ICON ".\\res\\blank.ico"
IDI_PRINTER ICON ".\\res\\printer.ico"
IDI_DISKDRIVE ICON ".\\res\\diskdrive.ico"
IDI_HARDDRIVE ICON ".\\res\\harddrive.ico"
IDI_CDROM ICON ".\\res\\cdrom.ico"

IDB_ABOUT BITMAP ".\\res\\about.bmp"
IDB_DANCE BITMAP ".\\res\\dance.bmp"

IDR_MAINMENU MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Load ROM…\tRCtrl+L", 1001
		MENUITEM "Unload ROM\tRCtrl+U", 1002
		MENUITEM "Reset\tRCtrl+R", 1003
		MENUITEM SEPARATOR
		MENUITEM "Quit", 1006
	END
	POPUP "Tools"
	BEGIN
		MENUITEM "Options", 1010
		MENUITEM SEPARATOR
		MENUITEM "Devices", 1011
		MENUITEM "Dump RAM\tRCtrl+D", 1005
		MENUITEM "Memory viewer", 1007
		MENUITEM "Palette viewer", 1008
		MENUITEM "Screenshot\tRCtrl+S", 1004
	END
	POPUP "Help"
	BEGIN
		MENUITEM "About", 1009
	END
END

IDD_ABOUT DIALOGEX 0, 0, 350, 114
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION "E Clunibus Tractum"
FONT 9, "Segoe UI"
BEGIN
	DEFPUSHBUTTON "Cool", IDOK, 293, 93, 50, 14
	//CONTROL "Cool", IDOK, "Button", WS_TABSTOP, 293, 93, 50, 14
	CONTROL IDB_ABOUT, IDC_STATIC, "Static", SS_BITMAP, 0, 0, 160, 85
	LTEXT "Clunibus \x97 Asspull IIIx Fantasy Computer Emulator", IDC_HEADER, 167, 7, 176, 16
	LTEXT "System design and emulator by Kawa.\n\nThanks and shoutouts to all of the byuuboard.\nExcept for you, Strfry.", IDC_STATIC, 167, 24, 140, 32
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 167, 20, 176, 1
	CONTROL "<a>GitHub page</a>", IDC_LINK, "SysLink", 0, 7, 94, 153, 8
END

IDD_DEVICES DIALOGEX 0, 0, 319, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION "Devices"
FONT 9, "Segoe UI"
BEGIN
	CTEXT "A swirling void howls before you.", SS_CENTERIMAGE | SS_CENTER, 97, 27, 215, 83
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 97, 117, 215, 1
	LISTBOX IDC_DEVLIST, 7, 7, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	COMBOBOX IDC_DEVTYPE, 112, 7, 199, 83, WS_TABSTOP | CBS_DROPDOWNLIST
	LTEXT "[Current disk]", IDC_DDFILE, 97, 27, 215, 10, SS_PATHELLIPSIS, WS_EX_STATICEDGE
	PUSHBUTTON "Insert", IDC_DDINSERT, 208, 41, 50, 14, NOT WS_VISIBLE
	PUSHBUTTON "Eject", IDC_DDEJECT, 262, 41, 50, 14, NOT WS_VISIBLE
	DEFPUSHBUTTON "Close", IDOK, 262, 125, 50, 14
	ICON "", IDC_DECO, 97, 9, 18, 17
	LTEXT "The primary device can only be a diskette drive.", IDC_PRIMARYDEVICE, 97, 99, 215, 10
END

IDD_MEMVIEWER DIALOGEX 0, 0, 364, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION "Memory viewer"
FONT 9, "Segoe UI"
BEGIN
	EDITTEXT IDC_MEMVIEWEROFFSET, 7, 7, 70, 14, ES_AUTOHSCROLL | WS_TABSTOP
	COMBOBOX IDC_MEMVIEWERDROP, 87, 7, 76, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "Refresh", IDC_REFRESH, 170, 6, 32, 14, WS_TABSTOP
	CONTROL "Auto-update", IDC_AUTOUPDATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 210, 7, 64, 11
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 336, 142, WS_EX_CLIENTEDGE
	CONTROL "", IDC_MEMVIEWERSCROLL, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 344, 26, 12, 142
END

IDD_PALVIEWER DIALOGEX 0, 0, 158, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION "Palette viewer"
FONT 9, "Segoe UI"
BEGIN
	PUSHBUTTON "Refresh", IDC_REFRESH, 7, 6, 32, 14, WS_TABSTOP
	CONTROL "Auto-update", IDC_AUTOUPDATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 7, 64, 11
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 142, 142, WS_EX_CLIENTEDGE
END

IDD_OPTIONS DIALOGEX 0, 0, 273, 200
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION "Options"
FONT 9, "Segoe UI"
BEGIN
	LTEXT "Framerate", 10, 7, 7, 93, 11
	CONTROL "Show FPS", IDC_SHOWFPS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 20, 68, 10
	CONTROL "Limit to 60 FPS", IDC_FPSCAP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 33, 68, 10

	LTEXT "Visuals", 11, 7, 50, 93, 11
	CONTROL "Aspect correction", IDC_ASPECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 63, 68, 10
	LTEXT "Theme", -1, 12, 76, 68, 10
	COMBOBOX IDC_THEME, 12, 85, 112, 52, CBS_DROPDOWNLIST | WS_TABSTOP

	LTEXT "Audio", 12, 144, 7, 93, 11
	CONTROL "Sound", IDC_SOUND, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 149, 20, 68, 10
	CONTROL "Music", IDC_MUSIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 149, 33, 68, 11 
	LTEXT "MIDI device", -1, 149, 46, 68, 10
	COMBOBOX IDC_MIDIDEV, 149, 55, 112, 52, CBS_DROPDOWNLIST | WS_TABSTOP

	LTEXT "Media", 13, 7, 102, 93, 11
	CONTROL "Reload ROM", IDC_RELOAD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 115, 68, 10
	CONTROL "Reload disk images", IDC_REMOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 128, 68, 11
	LTEXT "BIOS file", -1, 12, 141, 68, 8
	EDITTEXT IDC_BIOSPATH, 12, 150, 228, 12, ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON "...", IDC_BIOSBROWSE, 244, 150, 17, 12

	DEFPUSHBUTTON "OK", IDOK, 156, 178, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 216, 178, 50, 14
END

IDD_SHADERS DIALOGEX 0, 0, 248, 187
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION "Shaders"
FONT 9, "Segoe UI"
BEGIN
	LTEXT "Available", 10, 7, 7, 93, 11
	LISTBOX IDC_SHADERSAVAILABLE, 7, 18, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "Add", IDC_ADDSHADER, 97, 18, 50, 14
	PUSHBUTTON "Remove", IDC_REMOVESHADER, 97, 36, 50, 14
	PUSHBUTTON "Move up", IDC_MOVESHADERUP, 97, 72, 50, 14
	PUSHBUTTON "Move down", IDC_MOVESHADERDOWN, 97, 90, 50, 14
	LTEXT "In use", 11, 156, 7, 93, 11
	LISTBOX IDC_SHADERSINUSE, 156, 18, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 134, 166, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 191, 166, 50, 14
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000904b0"
		BEGIN
			VALUE "CompanyName", "Firrhna Productions"
			VALUE "FileDescription", "Asspull IIIx Fantasy Computer emulator"
			VALUE "FileVersion", "1.0.0.1"
			VALUE "InternalName", "Clunibus.exe"
			VALUE "LegalCopyright", "© 2020 Firrhna Productions"
			VALUE "OriginalFilename", "Clunibus.exe"
			VALUE "ProductName", "Clunibus"
			VALUE "ProductVersion", "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x9, 1200
	END
END
