#include "resource.h"
#include "windows.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

IDI_APP ICON ".\\res\\app.ico"
IDI_BLANK ICON ".\\res\\blank.ico"
IDI_PRINTER ICON ".\\res\\printer.ico"
IDI_DISKDRIVE ICON ".\\res\\diskdrive.ico"
IDI_HARDDRIVE ICON ".\\res\\harddrive.ico"
IDI_CDROM ICON ".\\res\\cdrom.ico"

IDB_ABOUT BITMAP ".\\res\\about.bmp"

IDR_MAINMENU MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Load ROM…\tCtrl+L", 1001
		MENUITEM "Unload ROM\tCtrl+U", 1002
		MENUITEM "Reset\tCtrl+R", 1003
		MENUITEM SEPARATOR
		MENUITEM "Quit", 1006
	END
	POPUP "Tools"
	BEGIN
		MENUITEM "Options", 1009
		MENUITEM SEPARATOR
		MENUITEM "Devices", 1010
		MENUITEM "Dump RAM\tCtrl+D", 1005
		MENUITEM "Memory viewer", 1007
		MENUITEM "Screenshot\tCtrl+S", 1004
	END
	POPUP "Help"
	BEGIN
		MENUITEM "About", 1008
	END
END

IDD_ABOUT DIALOGEX 0, 0, 350, 114
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION "E Clunibus Tractum"
FONT 9, "Segoe UI"
BEGIN
	DEFPUSHBUTTON "Cool", IDOK, 293, 93, 50, 14
	CONTROL IDB_ABOUT, IDC_STATIC, "Static", SS_BITMAP, 0, 0, 160, 85
	LTEXT "Clunibus \x97 Asspull IIIx Fantasy Computer Emulator", IDC_HEADER, 167, 7, 176, 16
	LTEXT "System design and emulator by Kawa.\n\nThanks and shoutouts to all of the byuuboard.\nExcept for you, Strfry.", IDC_STATIC, 167, 24, 176, 32
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 167, 20, 176, 1
	CONTROL "<a>GitHub page</a>", IDC_LINK, "SysLink", 0, 7, 94, 153, 8
END

IDD_DEVICES DIALOGEX 0, 0, 319, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION "Devices"
FONT 9, "Segoe UI"
BEGIN
	CTEXT "A swirling void howls before you.", SS_CENTERIMAGE | SS_CENTER, 97, 27, 215, 83
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 97, 117, 215, 1
	LISTBOX IDC_DEVLIST, 7, 7, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	COMBOBOX IDC_DEVTYPE, 112, 7, 199, 83, WS_TABSTOP | CBS_DROPDOWNLIST
	LTEXT "[Current disk]", IDC_DDFILE, 97, 27, 215, 10, SS_PATHELLIPSIS, WS_EX_STATICEDGE
	PUSHBUTTON "Insert", IDC_DDINSERT, 208, 41, 50, 14, NOT WS_VISIBLE
	PUSHBUTTON "Eject", IDC_DDEJECT, 262, 41, 50, 14, NOT WS_VISIBLE
	DEFPUSHBUTTON "Close", IDOK, 262, 125, 50, 14
	ICON "", IDC_DECO, 97, 9, 18, 17
	LTEXT "The primary device can only be a diskette drive.", IDC_PRIMARYDEVICE, 97, 99, 215, 10
END

IDD_MEMVIEWER DIALOGEX 0, 0, 364, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION "Memory viewer"
FONT 9, "Segoe UI"
BEGIN
	EDITTEXT IDC_MEMVIEWEROFFSET, 7, 7, 70, 14, ES_AUTOHSCROLL
	COMBOBOX IDC_MEMVIEWERDROP, 87, 7, 76, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CONTROL "Auto-update", IDC_AUTOUPDATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 7, 64, 11
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 336, 142, WS_EX_CLIENTEDGE
	CONTROL "", IDC_MEMVIEWERSCROLL, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 344, 26, 12, 142
END

IDD_OPTIONS DIALOGEX 0, 0, 213, 157
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION "Options"
FONT 9, "Segoe UI"
BEGIN
	LTEXT "Framerate", 10, 7, 7, 93, 11
	CONTROL "Show FPS", IDC_SHOWFPS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 20, 88, 10
	CONTROL "Limit to 60 FPS", IDC_FPSCAP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 33, 88, 10
	LTEXT "Visuals", 11, 107, 7, 93, 11
	CONTROL "Aspect correction", IDC_ASPECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 113, 20, 88, 10
	LTEXT "Theme", -1, 113, 33, 88, 10
	COMBOBOX IDC_THEME, 113, 42, 88, 52, CBS_DROPDOWNLIST | WS_TABSTOP | WS_DISABLED
	LTEXT "Media", 12, 7, 58, 93, 11
	CONTROL "Reload ROM", IDC_RELOAD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 71, 88, 10
	CONTROL "Reload disk images", IDC_REMOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 84, 88, 11
	LTEXT "BIOS", -1, 12, 97, 88, 8
	EDITTEXT IDC_BIOSPATH, 12, 106, 168, 12, ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON "...", IDC_BIOSBROWSE, 184, 106, 17, 12
	DEFPUSHBUTTON "Close", IDOK, 156, 135, 50, 14
END
/*
IDD_OPTIONS DIALOGEX 0, 0, 213, 178
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION
CAPTION "Options"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Segoe UI"
{
   CONTROL "Framerate", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 93, 11
   CONTROL "Show FPS", IDC_SHOWFPS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 24, 88, 10
   CONTROL "Limit to 60 FPS", IDC_FPSCAP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 41, 88, 10
   CONTROL "Visuals", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 7, 93, 11
   CONTROL "Aspect correction", IDC_ASPECT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 24, 88, 10
   CONTROL "Theme", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 113, 41, 88, 10
   CONTROL "", 1002, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 113, 51, 88, 52
   CONTROL "Media", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 58, 93, 11
   CONTROL "Reload ROM", IDC_RELOAD, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 75, 88, 10
   CONTROL "Reload disk images", IDC_REMOUNT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 92, 88, 11
   CONTROL "BIOS", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 110, 88, 8
   CONTROL "", IDC_BIOSPATH, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 124, 168, 12
   CONTROL "...", IDC_BIOSBROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 124, 17, 12
   CONTROL "Close", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 157, 50, 14
}
*/

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000904b0"
		BEGIN
			VALUE "CompanyName", "Firrhna Productions"
			VALUE "FileDescription", "Asspull IIIx Fantasy Computer emulator"
			VALUE "FileVersion", "1.0.0.1"
			VALUE "InternalName", "Clunibus.exe"
			VALUE "LegalCopyright", "© 2020 Firrhna Productions"
			VALUE "OriginalFilename", "Clunibus.exe"
			VALUE "ProductName", "Clunibus"
			VALUE "ProductVersion", "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x9, 1200
	END
END
