#include "resource.h"
#include "windows.h"
#pragma code_page(1252)

#include ".\\res\\english.rc"
#include ".\\res\\german.rc"
#include ".\\res\\french.rc"
#include ".\\res\\japanese.rc"
#include ".\\res\\dutch.rc"
#include ".\\res\\hungarian.rc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_APP ICON ".\\res\\app.ico"
IDI_ROM ICON ".\\res\\ap3.ico"
IDI_ZIP ICON ".\\res\\a3z.ico"

IDB_ABOUT PNG ".\\res\\about.png"
IDB_DANCE PNG ".\\res\\dance.png"
IDB_ICONS PNG ".\\res\\imglist.png"
IDB_SHRUG PNG ".\\res\\shrug.png"
IDB_CTRLR PNG ".\\res\\controller.png"
IDB_POWER PNG ".\\res\\turnedoff.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,7,0,2
PRODUCTVERSION 0,7,0,2
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000904b0"
		{
			VALUE "CompanyName", "Firrhna Productions"
			VALUE "FileDescription", "Asspull IIIx Fantasy Computer emulator"
			VALUE "FileVersion", "1.0.0.1"
			VALUE "InternalName", "Clunibus.exe"
			VALUE "LegalCopyright", "© 2022 Firrhna Productions"
			VALUE "OriginalFilename", "Clunibus.exe"
			VALUE "ProductName", "Clunibus"
			VALUE "ProductVersion", "0.7.0.2"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x9, 1200
	}
}
