#ifndef DIALOG_FONT
#define DIALOG_FONT "Segoe UI"
#endif

IDD_ABOUT DIALOGEX 0, 0, 350, 114
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION ABOUT_TITLE
FONT 9, DIALOG_FONT
BEGIN
	DEFPUSHBUTTON ABOUT_OKAY, IDOK, 293, 93, 50, 14
	LTEXT ABOUT_HEADER, IDC_HEADER, 167, 7, 176, 20
	LTEXT ABOUT_BODY, IDC_STATIC, 167, 32, 140, 48
	CONTROL ABOUT_GITLINK, IDC_LINK, "SysLink", 0, 7, 94, 153, 8
END

IDD_DEVICES DIALOGEX 0, 0, 319, 141
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION DEVICES_TITLE
FONT 9, DIALOG_FONT
BEGIN
	CONTROL "", IDC_SHRUG, "Static", NOT WS_VISIBLE, 186, 48, 64, 64
	CTEXT DEVICES_NONE, IDC_DEVNONE, 97, 82, 215, 20, SS_CENTERIMAGE
	LISTBOX IDC_DEVLIST, 7, 7, 83, 127, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_VSCROLL
	COMBOBOX IDC_DEVTYPE, 97, 7, 215, 83, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS
	LTEXT "", IDC_DDFILE, 97, 27, 215, 12, SS_PATHELLIPSIS | SS_CENTERIMAGE, WS_EX_STATICEDGE
	PUSHBUTTON DEVICES_INSERTDISK, IDC_DDINSERT, 208, 44, 50, 14, NOT WS_VISIBLE
	PUSHBUTTON DEVICES_EJECTDISK, IDC_DDEJECT, 262, 44, 50, 14, NOT WS_VISIBLE
	DEFPUSHBUTTON COMMON_CLOSE, IDOK, 262, 120, 50, 14
END

IDD_MEMVIEWER DIALOGEX 0, 0, 364, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION MEMORY_TITLE
FONT 9, DIALOG_FONT
BEGIN
	EDITTEXT IDC_MEMVIEWEROFFSET, 7, 7, 70, 14, ES_AUTOHSCROLL
	COMBOBOX IDC_MEMVIEWERDROP, 87, 7, 76, 64, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS
	PUSHBUTTON COMMON_REFRESH, IDC_REFRESH, 170, 6, 48, 14, WS_TABSTOP
	AUTOCHECKBOX COMMON_AUTOUPDATE, IDC_AUTOUPDATE, 226, 7, 80, 10
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 336, 142, WS_EX_STATICEDGE
	CONTROL "", IDC_MEMVIEWERSCROLL, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 344, 26, 12, 142
END

IDD_PALVIEWER DIALOGEX 0, 0, 222, 175
STYLE DS_SETFONT | DS_MODALFRAME | WS_SYSMENU
CAPTION PALETTE_TITLE
FONT 9, DIALOG_FONT
BEGIN
	PUSHBUTTON COMMON_REFRESH, IDC_REFRESH, 7, 6, 48, 14, WS_TABSTOP
	AUTOCHECKBOX COMMON_AUTOUPDATE, IDC_AUTOUPDATE, 63, 7, 80, 10
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 142, 142, WS_EX_STATICEDGE
	LTEXT "", IDC_DETAILS, 158, 26, 58, 53
END

IDD_OPTIONS DIALOGEX 0, 0, 273, 200
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION OPTIONS_TITLE
FONT 9, DIALOG_FONT
BEGIN
	LTEXT OPTIONS_FRAMERATE, 10, 7, 7, 112, 11
	AUTOCHECKBOX OPTIONS_SHOWFPS, IDC_SHOWFPS, 12, 20, 112, 10
	AUTOCHECKBOX OPTIONS_LIMITFPS, IDC_FPSCAP, 12, 33, 112, 10

	LTEXT OPTIONS_VISUALS, 11, 7, 50, 112, 11
	AUTOCHECKBOX OPTIONS_ASPECT, IDC_ASPECT, 12, 63, 112, 10
	LTEXT OPTIONS_THEME, -1, 12, 76, 112, 10
	COMBOBOX IDC_THEME, 12, 85, 112, 52, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS

	LTEXT OPTIONS_AUDIO, 12, 144, 7, 112, 11
	AUTOCHECKBOX OPTIONS_SOUND, IDC_SOUND, 149, 20, 112, 10
	AUTOCHECKBOX OPTIONS_MUSIC, IDC_MUSIC, 149, 33, 112, 10
	LTEXT OPTIONS_MIDIDEVICE, -1, 149, 46, 68, 10
	COMBOBOX IDC_MIDIDEV, 149, 55, 112, 52, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS

	LTEXT OPTIONS_INPUT, 13, 144, 76, 112, 11
	AUTOCHECKBOX OPTIONS_SWITCH, IDC_INVERTBUTTONS, 149, 87, 112, 10

	LTEXT OPTIONS_MEDIA, 14, 7, 102, 112, 11
	AUTOCHECKBOX OPTIONS_RELOADROM, IDC_RELOAD, 12, 115, 112, 10
	AUTOCHECKBOX OPTIONS_RELOADDISK, IDC_REMOUNT, 12, 128, 112, 10
	LTEXT OPTIONS_BIOS, -1, 12, 141, 112, 8
	EDITTEXT IDC_BIOSPATH, 12, 150, 228, 12, ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON "\x85", IDC_BIOSBROWSE, 244, 150, 17, 12

	DEFPUSHBUTTON COMMON_OK, IDOK, 156, 178, 50, 14
	PUSHBUTTON COMMON_CANCEL, IDCANCEL, 216, 178, 50, 14
END

IDD_SHADERS DIALOGEX 0, 0, 248, 187
STYLE DS_SETFONT | DS_MODALFRAME
CAPTION SHADERS_TITLE
FONT 9, DIALOG_FONT
BEGIN
	LTEXT SHADERS_AVAILABLE, 10, 7, 7, 93, 11
	LISTBOX IDC_SHADERSAVAILABLE, 7, 18, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON SHADERS_ADD, IDC_ADDSHADER, 97, 18, 50, 14
	PUSHBUTTON SHADERS_REMOVE, IDC_REMOVESHADER, 97, 36, 50, 14
	PUSHBUTTON SHADERS_MOVEUP, IDC_MOVESHADERUP, 97, 72, 50, 14
	PUSHBUTTON SHADERS_MOVEDOWN, IDC_MOVESHADERDOWN, 97, 90, 50, 14
	LTEXT SHADERS_INUSE, 11, 156, 7, 93, 11
	LISTBOX IDC_SHADERSINUSE, 156, 18, 83, 132, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON COMMON_APPLY, IDOK, 134, 166, 50, 14
	PUSHBUTTON COMMON_CLOSE, IDCANCEL, 191, 166, 50, 14
END

//Clean up defs for the next language

#undef COMMON_OK
#undef COMMON_CANCEL
#undef COMMON_APPLY
#undef COMMON_CLOSE
#undef COMMON_REFRESH
#undef COMMON_AUTOUPDATE

#undef ABOUT_TITLE
#undef ABOUT_OKAY
#undef ABOUT_HEADER
#undef ABOUT_BODY
#undef ABOUT_GITLINK

#undef DEVICES_TITLE
#undef DEVICES_NONE
#undef DEVICES_INSERTDISK
#undef DEVICES_EJECTDISK

#undef MEMORY_TITLE
#undef PALETTE_TITLE

#undef OPTIONS_TITLE
#undef OPTIONS_FRAMERATE
#undef OPTIONS_SHOWFPS
#undef OPTIONS_LIMITFPS
#undef OPTIONS_VISUALS
#undef OPTIONS_ASPECT
#undef OPTIONS_THEME
#undef OPTIONS_AUDIO
#undef OPTIONS_SOUND
#undef OPTIONS_MUSIC
#undef OPTIONS_MIDIDEVICE
#undef OPTIONS_INPUT
#undef OPTIONS_SWITCH
#undef OPTIONS_MEDIA
#undef OPTIONS_RELOADROM
#undef OPTIONS_RELOADDISK
#undef OPTIONS_BIOS

#undef SHADERS_TITLE
#undef SHADERS_AVAILABLE
#undef SHADERS_INUSE
#undef SHADERS_ADD
#undef SHADERS_REMOVE
#undef SHADERS_MOVEUP
#undef SHADERS_MOVEDOWN

#undef DIALOG_FONT
