#include "resource.h"
#include "windows.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

IDI_APP ICON ".\\..\\app.ico"
IDI_BLANK ICON ".\\res\\blank.ico"
IDI_PRINTER ICON ".\\res\\printer.ico"
IDI_DISKDRIVE ICON ".\\res\\diskdrive.ico"
IDI_HARDDRIVE ICON ".\\res\\harddrive.ico"
IDI_CDROM ICON ".\\res\\cdrom.ico"

IDB_ABOUT BITMAP ".\\res\\about.bmp"

IDR_MAINMENU MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Load ROM…\tCtrl+L", 1001
		MENUITEM "Unload ROM\tCtrl+U", 1002
		MENUITEM "Reset\tCtrl+R", 1003
		MENUITEM SEPARATOR
		MENUITEM "Quit", 1006
	END
	POPUP "Tools"
	BEGIN
		MENUITEM "Options", 1009
		MENUITEM SEPARATOR
		MENUITEM "Devices", 1010
		MENUITEM "Dump RAM\tCtrl+D", 1005
		MENUITEM "Memory viewer", 1007
		MENUITEM "Screenshot\tCtrl+S", 1004
	END
	POPUP "Help"
	BEGIN
		MENUITEM "About", 1008
	END
END

IDD_ABOUT DIALOGEX 0, 0, 346, 114
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_TOOLWINDOW
CAPTION "E Clunibus Tractum"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	DEFPUSHBUTTON "&Cool", IDOK, 288, 92, 50, 14
	CONTROL IDB_ABOUT, IDC_STATIC, "Static", SS_BITMAP | SS_SUNKEN, 7, 7, 188, 100
	LTEXT "Clunibus — Asspull IIIx Fantasy Computer Emulator", IDC_HEADER, 200, 8, 138, 24
	LTEXT "System design and emulator by Kawa.\n\nThanks and shoutouts to all of the byuuboard. Except you, Strfry.", IDC_STATIC, 200, 38, 138, 46
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 200, 30, 138, 1
END

IDD_DEVICES DIALOGEX 0, 0, 344, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Devices"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CTEXT "This device has no properties.", IDC_DEVNONE, 150, 38, 187, 12, SS_CENTERIMAGE
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 86, 20, 251, 1
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 86, 84, 251, 1
	LTEXT "Header goes here", IDC_HEADER, 101, 7, 236, 13
	LISTBOX IDC_DEVLIST, 7, 7, 69, 96, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	LISTBOX	IDC_DEVTYPE, 86, 27, 56, 52, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "Insert", IDC_DDINSERT, 229, 42, 50, 14, NOT WS_VISIBLE
	PUSHBUTTON "Eject", IDC_DDEJECT, 287, 42, 50, 14, NOT WS_VISIBLE
	DEFPUSHBUTTON "OK", IDOK, 287, 89, 50, 14
	LTEXT "[Current disk]", IDC_DDFILE, 150, 27, 187, 12, SS_PATHELLIPSIS, WS_EX_STATICEDGE
	ICON "", IDC_DECO, 86, 7, 21, 20
END

IDD_MEMVIEWER DIALOGEX 0, 0, 260, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Memory viewer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	EDITTEXT IDC_MEMVIEWEROFFSET, 7, 7, 70, 14, ES_AUTOHSCROLL
	COMBOBOX IDC_MEMVIEWERDROP, 87, 7, 76, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CONTROL "Auto-update", IDC_AUTOUPDATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 7, 64, 11
	CONTROL "", IDC_MEMVIEWERGRID, "Static", SS_OWNERDRAW, 7, 26, 230, 154, WS_EX_CLIENTEDGE
	CONTROL "", IDC_MEMVIEWERSCROLL, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 238, 26, 14, 154
END

IDD_OPTIONS DIALOGEX 0, 0, 160, 108 //114
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Options"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "&Show FPS", IDC_SHOWFPS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 7, 146, 11
	CONTROL "FPS &cap", IDC_FPSCAP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 20, 146, 11
	CONTROL "&Aspect correction", IDC_ASPECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 34, 146, 11
	CONTROL "&Reload ROM", IDC_RELOAD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 48, 146, 11
	CONTROL "Reload &disk images", IDC_REMOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 62, 146, 11
//	CTEXT "Work in obvious progress.", IDC_STATIC, 7, 76, 146, 11, SS_CENTERIMAGE
//	DEFPUSHBUTTON "&OK", IDOK, 103, 92, 50, 14
	CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 7, 76, 146, 11
	DEFPUSHBUTTON "&OK", IDOK, 103, 86, 50, 14
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000904b0"
		BEGIN
			VALUE "CompanyName", "Firrhna Productions"
			VALUE "FileDescription", "Asspull IIIx Fantasy Computer emulator"
			VALUE "FileVersion", "1.0.0.1"
			VALUE "InternalName", "Clunibus.exe"
			VALUE "LegalCopyright", "© 2020 Firrhna Productions"
			VALUE "OriginalFilename", "Clunibus.exe"
			VALUE "ProductName", "Clunibus"
			VALUE "ProductVersion", "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x9, 1200
	END
END
